<!DOCTYPE html>
<html>
<head>
    <title>Embedded SQL QUERY</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }
        th, td {
            text-align: left;
            padding: 8px;
            border: 1px solid #ddd; 
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        div{
            color: rebeccapurple;
        }
    </style>
</head>
<body>
    <h1>Embedded Query-3</h1>
    <div>Query to get to know the what products are in Cart(Summary). 
        For customerID=10       
    </div>
    <br>
    <br>
    <table>
        <tr>
            <th>ProductID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Product Price</th>
            <th>Cost</th>
        </tr>
        {% for col in embedded3 %}
        <tr>
            <td>{{ col[0] }}</td>
            <td>{{ col[1] }}</td>
            <td>{{ col[2] }}</td>
            <td>{{ col[3] }}</td>
            <td>{{ col[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

