<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to My Online Retail Store</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>Welcome to My Online Retail Store</h1>
  <!-- <p>Check out our latest products:</p> -->

  <!-- <button id="btn-products" class="btn" onclick="location.href='/products'">View Products</button> -->
  <p>Customer?</p>
  <br>
  <button id="btn-register" class="btn" onclick="location.href='/register'">Register</button>

  <button id="btn-login" class="btn" onclick="location.href='/login'">Login</button>

  <p>Seller?</p>
  <br>
  <button id="btn-seller_register" class="btn" onclick="location.href='/seller_register'">Seller register</button>
  <button id="btn-seller_login" class="btn" onclick="location.href='/seller_login'">Seller login</button>




  <!-- <p>Embedded Queries</p>
  <button class="btn" onclick="location.href='/embedded1'">Embedded Query-1</button>
  <button class="btn" onclick="location.href='/embedded2'">Embedded Query-2</button>
  <button class="btn" onclick="location.href='/embedded3'">Embedded Query-3</button>


  <p>OLAP Queries for analysis:</p>
  <button id="btn-olap1" class="btn" onclick="location.href='/olap1'">OLAP QUERY-1</button>
  <button id="btn-olap2" class="btn" onclick="location.href='/olap2'">OLAP QUERY-2</button>
  <button id="btn-olap3" class="btn" onclick="location.href='/olap3'">OLAP QUERY-3</button>
  <button id="btn-olap4" class="btn" onclick="location.href='/olap4'">OLAP QUERY-4</button>
  <button id="btn-olap5" class="btn" onclick="location.href='/olap5'">OLAP QUERY-5</button>
  <p>Trigger Sequence(3 triggers):</p>

  <button id="btn-olap5" class="btn" onclick="location.href='/trigger'">Trigger Sequence</button> -->


</body>
</html>
