<!DOCTYPE html>
<html>
<head>
    <title>OLAP QUERY</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }
        th, td {
            text-align: left;
            padding: 8px;
            border: 1px solid #ddd; 
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        div{
            color: rebeccapurple;
        }
    </style>
</head>
<body>
    <h1>OLAP Query-4</h1>
    <div>Query to get the total order value,number of instances of usage, and average order value for each payment method</div><br><br>

    <table>
        <tr>
            <th>Mode of Payment</th>
            <th>Total Order Value</th>
            <th>Numebr of times used</th>
            <th>Average Order Value</th>

        </tr>
        {% for col in olap4 %}
        <tr>
            <td>{{ col[0] }}</td>
            <td>{{ col[1] }}</td>
            <td>{{ col[2] }}</td>
            <td>{{ col[3] }}</td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>
